html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #CCC;
    font-family: 'Ubuntu', sans-serif;
}

#left {
	height: 100%;
	width: 80%;
	float: left;
}
.beta-header {
	text-align: center;
	font-size: 10pt;
	padding: 5px 0px 5px 0px;
	height: 20px;
	background-color: #471211;
	color: #E9C363;
}

.beta-header a {
	color: white;
}

#map {
	height: 100%;
	width: 80%;
	float: left;
}
#right {
	height: 100%;
	width: 20%;
	float: right;
	font-size: 10pt;
}
#right fieldset {
	border: 2px solid black;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 20px;
	margin-top: 20px;
	background-color:  #fff;
}
#right legend {
	border: 2px solid black;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color:  #fff;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
}

.notes {
	margin-left: 10px;
	font-size: 9pt;
}

#right label {
	margin: 0px 10px 0px 10px;
	vertical-align: middle;
}
#right input {
	vertical-align: middle;
}
.number-input {
	width: 3em;
	color: black;
}
.enrollment-header {
	border: 2px solid black;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color:  #fff;
	padding: 2px 5px 2px 5px;
	margin: 10px 5px 10px 5px;
	font-size: 14pt;
	font-weight: bold;
}
.legend {
	margin-left: 5px;
	font-size: 10pt;
}

.legend-item {
	padding: 1px 2px 1px 2px;
	border: .5px solid black;
	margin: 1px 5px 1px 5px;
}

.yellow-bg {
	background-color: yellow;
}
.red-bg {
	background-color: red;
}

.togvis i {
    margin-left: 10px;
}

.skinny-select {
	font-size: 9pt;
	padding: 0px 5px 0px 0px;
	height: 1.5em;
	margin-right: 5px;
}

.contact {
	font-size: 9pt;
	float: right;
	margin-right: 10px;
	margin-bottom: 25px;
}

.contact i {
	margin-left: 4px;
	margin-right: 4px;
}